In [6]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

# Tic-Tac-toe

### This is a fun project, plan is to make a model to predict next best move to make in XOXO

## Dataset

### I have played few games and made this dataset, ofcourse with the help of ChatGPT :)

#### -1 in the dataset mean, a move made by player
#### 1 in the dataset mean, a move made my computer as in this model
#### 0 is yet to be made

In [347]:
df=pd.read_csv("XOXO - Sheet1.csv")

In [348]:
df

,CELL 1,CELL 2,CELL 3,CELL 4,CELL 5,CELL 6,CELL 7,CELL 8,CELL 9,NextMove
0,1,0,0,0,-1,0,-1,0,0,3
1,0,0,0,0,0,0,0,0,0,5
2,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,3
4,0,0,0,0,0,0,0,0,0,7
...,...,...,...,...,...,...,...,...,...,...
245,-1,0,0,-1,-1,1,1,0,0,9
246,1,0,0,1,1,-1,-1,0,0,9
247,1,0,-1,-1,-1,0,1,0,0,6
248,-1,0,1,1,1,0,-1,0,0,6
249,0,-1,0,0,0,0,0,-1,1,5

In [349]:
df.shape

(250, 10)

### Since it's as numeric dataset, does not need much preprocessing required.

##### the model is trying to predict next move in the game, there are possible 9 moves. So this is a  classification problem. and for this I am planning to use Decision Tree.

# Test-Train Split

In [350]:
x=df.iloc[:,:-1]

In [351]:
x

     CELL 1  CELL 2  CELL 3  CELL 4  CELL 5  CELL 6  CELL 7  CELL 8  CELL 9
0         1       0       0       0      -1       0      -1       0       0
1         0       0       0       0       0       0       0       0       0
2         0       0       0       0       0       0       0       0       0
3         0       0       0       0       0       0       0       0       0
4         0       0       0       0       0       0       0       0       0
..      ...     ...     ...     ...     ...     ...     ...     ...     ...
245      -1       0       0      -1      -1       1       1       0       0
246       1       0       0       1       1      -1      -1       0       0
247       1       0      -1      -1      -1       0       1       0       0
248      -1       0       1       1       1       0      -1       0       0
249       0      -1       0       0       0       0       0      -1       1

[250 rows x 9 columns]

In [352]:
y=df.iloc[:,-1]

In [353]:
y.value_counts()

3    38
6    35
4    32
7    30
2    26
1    24
9    22
8    22
5    21
Name: NextMove, dtype: int64

In [354]:
x_train, x_test,y_train, y_test = train_test_split(x,y, random_state=104, test_size=0.20, shuffle=True)

In [355]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

# Initialize the Decision Tree Classifier
decision_tree = DecisionTreeClassifier(random_state=4)

# Train the model on the training data
decision_tree.fit(x, y)

# Predict on the test data
y_pred = decision_tree.predict(x_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy:.4f}')

Accuracy: 0.7400

In [362]:
sample = np.array([1,1,-1,0,-1,0,0,1,-1])

# Reshape the sample to a 2D array
sample = sample.reshape(1, -1)

decision_tree.predict(sample)

C:\Users\prate\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([7], dtype=int64)

#